* {
    box-sizing: border-box;
}

html {
    font-family: Arial, sans-serif;

}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(125deg, #1e9a8d 0%,#20caae 51%,#7ee8d3 100%);
}


.btn-primary{
    background: #ebac38;
    border-color: #1e9a8d;
}
.btn-primary:hover{
    background: #cb9633;
    border-color: #1e9a8d;
}

.btn-warning {
    background: #d04032;
}

.btn-warning:hover {
    background: #aa3d30;
}


.input-group >.btn-success {
    background: #ebac38;
    border-color: #1e9a8d;
    margin-left: 3px;
}

.gameArea > .btn-success:hover {
    background: #cb9633;
    border-color: #1e9a8d;
}

.list-group-item {
    background-color: #f1eedf;
}

.form-control, .form-control:focus {
    background-color: #f8f5e6;

}

#userFormArea {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

#userLoginField {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#onlineUsers {
    margin-top: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#nameContainer {
    margin-top: 10px;
    margin-left: 10px;
    text-align: left;
    /*float: left;*/
}

#challengesField {
    /*margin-top: 30px;*/
    /*float: right;*/
}


#wordToWrite {
    color: #1c1c1c;
    background-color: #ebac38;
}

#gameArea {
    display: flex;
    justify-content: center;
}

/*#userDisplay {
    background-color: #56a83e;
}*/

/*.gamefield {*/
    /*height: 80vh;*/
    /*width: 70vw;*/
    /*background-color: azure;*/
    /*!*display: flex;*!*/
    /*!*flex-direction: row;*!*/
    /*!*justify-content: center;*!*/
    /*!*align-content: center;*!*/
    /*box-shadow: 0 0 40px 0 rgba(0,0,0,0.2);*/
    /*!*flex-wrap: wrap;*!*/
    /*border-radius: 3px;*/
/*}*/


